<img src="https://dummyimage.com/600x350/000/fff" class="card-img-top" alt="...">
<div class="card-body mt-3">
  <h5 class="card-title mb-2"><%= publication.title %></h5>
  <p class="card-text mb-2"><%= simple_description publication.description %></p>
</div>
<div class="card-footer">
  <small class="text-muted"><%= date_format publication.created_at %></small>
  <p class="text-end"><%= link_to "<i class=\"bi bi-arrow-return-right\"></i>Ver Mas".html_safe, publication_path(publication) %></p>
</div>
