<h1 class="text-center mt-5">Editar publicación</h1>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="login-form">
        <%= render "form", publication: @publication, is_editable: true %>
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to "Show this publication", @publication %> |
  <%= link_to "Back to publications", publications_path %>
</div>
